@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

:root {
    --primary-color: hsl(220, 98%, 61%);
    --check-background: linear-gradient(135deg,
            hsl(192, 100%, 67%),
            hsl(280, 87%, 65%));

    --gradient-1: hsl(192, 100%, 67%);
    --gradient-2: hsl(280, 87%, 65%);

    --task-background: hsl(0, 0%, 98%);
    --text-color: hsl(235, 19%, 35%);
    --text-color-hover: hsl(237, 14%, 26%);
    --task-completed: hsl(233, 11%, 84%);
    --footer-text: hsl(236, 9%, 61%);
    --background: transparent;

    /* Typography */
    --fs-heading: 2.5rem;
    --fs-small: 0.875rem;
    --fs-md: 0.9375rem;
    --fs-body: 1.125rem;

    @media (width < 990px) {
        --fs-heading: 1.625rem;
        --fs-body: 0.9375rem;
    }

    --letter-spacing-heading: 14.8px;
    --letter-spacing-body: -0.3px;
    --letter-spacing-small: -0.6px;
    --letter-spacing-md: -0.9px;

    --fw-reg: 400;
    --fw-bold: 700;
}

:root[data-theme='dark'] {
    --background: hsl(235, 21%, 11%);
    --task-background: hsl(235, 24%, 19%);
    --text-color: hsl(234, 39%, 85%);
    --text-color-hover: hsl(236, 33%, 92%);
    --footer-text: hsl(235, 16%, 43%);
    --task-completed: hsl(233, 14%, 35%);
    --clear-complete-hover: hsl(236, 9%, 61%);
}

@layer reset {

    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core root defaults */
    html:focus-within {
        scroll-behavior: smooth;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        font-family: 'Josefin Sans', sans-serif;
        /* margin-block-end: 5rem; */
        background: var(--background);
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}

@layer layout {

    /* HEADER */
    .header {
        position: absolute;
        z-index: -3;
    }

    /* MAIN */
    .main {
        position: relative;

        margin: 0 auto;
        padding: 2.5rem 1rem;
        max-width: 33.75rem;

        @media (width > 660px) {
            padding: 4.375rem 1rem;
        }
    }

    .main__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: 2.5rem;
    }

    .main__heading {
        color: white;

        font-size: var(--fs-heading);
        font-weight: var(--fw-bold);
        letter-spacing: var(--letter-spacing-heading);
    }

    /* TASKS */
    .task-input-container {
        position: relative;

        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1.25rem;
        margin-block-end: 1.5rem;
        max-width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 5px;

        background: var(--task-background);
        z-index: 0;
    }

    .task-input__input-field {
        width: 100%;
        border: none;
        outline: none;

        background: inherit;
        color: var(--text-color);

        font-size: var(--fs-body);
        letter-spacing: var(--letter-spacing-body);

        cursor: pointer;
    }

    .task-list-container {
        position: relative;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        filter: drop-shadow(0 5px 0.5rem hsl(from black h s l / 0.5));
    }

    .task-list {
        margin: 0;
        padding: 0;
    }

    /* TASKS */
    .task {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1.25rem;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid var(--footer-text);

        background: var(--task-background);
        color: var(--text-color);

        transform: translateX(0px);
        font-size: var(--fs-body);

        list-style: none;
    }

    .task:hover {
        color: var(--text-color-hover);
    }

    .task-list__footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'one two three';
        align-items: stretch;

        color: var(--footer-text);

        @media (width < 990px) {
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem 0;
            grid-template-areas:
                'one three'
                'two two';
        }
    }

    .task-list__total-count {
        grid-row: 1/1;
        grid-area: one;
        border-radius: 0 0 0 10px;
        padding: 1.1rem 1.25rem;

        font-size: var(--fs-small);
        font-weight: var(--fw-bold);
        letter-spacing: var(--letter-spacing-md);

        background: var(--task-background);

        cursor: default;
    }

    /* FILTERS */
    .filters {
        grid-area: two;
        place-self: center;
        width: 100%;
        padding: 1rem 0;
        background: var(--task-background);

        text-align: center;

        @media (width < 990px) {
            border-radius: 4px;
        }
    }

    .completed .task-description {
        text-decoration: line-through;
    }

    .note {
        color: var(--footer-text);

        font-size: var(--fs-small);
        text-align: center;
        letter-spacing: var(--letter-spacing-small);

        cursor: default;
    }
}

@layer buttons {
    .btn {
        background-color: var(--button-background, transparent);
        border: transparent;
        cursor: pointer;
        font-size: var(--button-font-size, var(--fs-small));
        letter-spacing: var(--button-letter-spacing, var(--letter-spacing-md));
    }

    .btn--complete-task {
        position: relative;

        height: 24px;
        aspect-ratio: 1 / 1;
        border-radius: 100vw;

        color: var(--text-color);
        background: inherit;
    }

    .btn--complete-task::after {
        content: '';
        position: absolute;
        inset: -2px;
        background: var(--check-background);
        z-index: -1;
        border-radius: inherit;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }

    .btn--complete-task:hover::after {
        opacity: 1;
    }

    .completed .btn--complete-task {
        background: var(--check-background);
    }

    .btn--delete-task {
        height: 24px;
        aspect-ratio: 1 / 1;

        >img {
            opacity: 0;
        }
    }

    .task:hover .btn--delete-task>img {
        opacity: 1;
    }

    .btn--toggle {
        border: transparent;
        background: transparent;
        cursor: pointer;
    }

    .btn--add-task {
        display: none;
        border-radius: 4px;

        color: white;
        background: var(--check-background);
    }

    .task-input-container:focus-within .btn--add-task {
        display: block;
    }

    .btn--all,
    .btn--active,
    .btn--completed {
        font-weight: var(--fw-bold);
        color: var(--footer-text);

        &:hover {
            color: var(--text-color-hover);
        }
    }

    .filter-active {
        color: var(--primary-color);
    }

    .btn--clear-complete {
        padding: 1rem 1.25rem;
        grid-area: three;
        width: 100%;
        border-radius: 0 0 10px 0;

        color: var(--footer-text);
        background: var(--task-background);

        text-align: right;
    }

    .btn--clear-complete:hover {
        color: var(--clear-complete-hover);
    }
}
